.desempenho-container{
    width: 220px;
    height: 140px;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .disciplina{
            font-weight: bold;
            font-size: 15px;
            
        }

        .desempenho-nivel{
            width: 25px;
            height: 25px;
            border-radius: 12.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bolder;
            font-size: 12px;
        }
    }
}
