.disciplinas-container{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .disciplinas-title{
        font-weight: bolder;
        color: white;
        font-size: 24px;
    }

    .disciplinas-name{
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .disciplinas{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .row{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 20px;
    }
}