.home-container{
    width: 100%;
    height: auto;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    justify-content: space-between;

    .home-view{
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 8px;
        box-shadow: 4px 4px 10px black;
        padding: 30px;

        .disciplinas-name{
            font-weight: bolder;
            font-size: 24px;
            margin-bottom: 12px;
        }

        .row{
            display: flex;
            flex-direction: row;
            gap: 20px;
            flex-wrap: wrap;
        }
    }

    .home-col{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}